In [7]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_csv("C:\\Users\\T L S\\Desktop\\SoftSinc\\Week 2\\newdataset.csv")

In [23]:

print(df.head())
print(df.isnull().sum())
print(df.dtypes)

   serial_no  sepal_length  sepal_width  petal_length  petal_width  \
0        NaN           5.1          3.0           1.4          0.0
1        1.0           NaN          3.0           1.4          0.0
2        2.0           4.7          NaN           1.3          0.0
3        3.0           4.6          3.0           NaN          0.0
4        4.0           5.0          3.0           1.4          NaN

       species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa
serial_no       4
sepal_length    5
sepal_width     4
petal_length    4
petal_width     4
species         2
dtype: int64
serial_no       float64
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [27]:
columns = ['serial_no', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width']
df[columns] = df[columns].fillna(df[columns].mean())

In [28]:
df['species'] = df['species'].astype('category').cat.codes

In [30]:
print(df.head())
print(df.tail())

   serial_no  sepal_length  sepal_width  petal_length  petal_width  species
0  76.171233      5.100000     3.000000      1.400000     0.000000        0
1   1.000000      5.868276     3.000000      1.400000     0.000000        0
2   2.000000      4.700000     2.636986      1.300000     0.000000        0
3   3.000000      4.600000     3.000000      3.818493     0.000000        0
4   4.000000      5.000000     3.000000      1.400000     0.883562        0
     serial_no  sepal_length  sepal_width  petal_length  petal_width  species
145      145.0           6.7          3.0           5.2          2.0        2
146      146.0           6.3          2.0           5.0          1.0        2
147      147.0           6.5          3.0           5.2          2.0        2
148      148.0           6.2          3.0           5.4          2.0        2
149      149.0           5.9          3.0           5.1          1.0        2

In [32]:
print(df.isnull().sum())
print(df.dtypes)

serial_no       0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64
serial_no       float64
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species            int8
dtype: object

In [31]:
print(df.describe())

        serial_no  sepal_length  sepal_width  petal_length  petal_width  \
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    76.171233      5.868276     2.636986      3.818493     0.883562
std     42.222542      0.815759     0.529406      1.727006     0.700051
min      1.000000      4.300000     2.000000      1.000000     0.000000
25%     41.250000      5.125000     2.000000      1.600000     0.000000
50%     76.171233      5.834138     3.000000      4.350000     1.000000
75%    111.750000      6.400000     3.000000      5.100000     1.000000
max    149.000000      7.900000     4.000000      6.900000     2.000000

          species
count  150.000000
mean     0.986667
std      0.843345
min     -1.000000
25%      0.000000
50%      1.000000
75%      2.000000
max      2.000000

In [ ]:
import pandas as pd
import numpy as np

def clean_data(df):
    log = []

    original_shape = df.shape
    log.append(f"Original shape: {original_shape}")

    duplicate_count = df.duplicated().sum()
    if duplicate_count > 0:
        df = df.drop_duplicates()
        log.append(f"Removed {duplicate_count} duplicate rows.")

    for col in df.columns:
        missing_count = df[col].isnull().sum()
        if missing_count > 0:
            if pd.api.types.is_numeric_dtype(df[col]):
                mean_val = df[col].mean()
                df[col] = df[col].fillna(mean_val)
                log.append(f"Filled {missing_count} NaNs in numeric column '{col}' with mean: {mean_val:.2f}")
            else:
                mode_val = df[col].mode()[0] if not df[col].mode().empty else "UNKNOWN"
                df[col] = df[col].fillna(mode_val)
                log.append(f"Filled {missing_count} NaNs in non-numeric column '{col}' with mode: {mode_val}")

    cleaned_shape = df.shape
    log.append(f"Final shape after cleaning: {cleaned_shape}")

    return df, log